$darkblue: #30475eff; 
$darkgrey: #2c2e3eff;
$lightblue: #939FAA; 
$lightgrey: #91929aff; 
$red: #ee2b47ff;
$purpel: #8F3953;
$white: #f6f6f6ff; 

.Ariane {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: flex-start;
    top: 45px;
    font-size: 18px;
    margin-left: 2em;


    a {
        color: $darkgrey;
    }

    a:hover {
        color: $red;
    }
}