$darkblue: #30475eff; 
$darkgrey: #2c2e3eff;
$lightblue: #939FAA; 
$lightgrey: #91929aff; 
$red: #ee2b47ff;
$purpel: #8F3953;
$white: #f6f6f6ff; 

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");


p {
    overflow-y: hidden;
}
.card {
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 20px $lightgrey;
    overflow: hidden;
    width: 15em;
}
.card-header img {
    width: 100%;
    height: 12em;
    object-fit: cover;
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-height: 11em;

    .card-price {
        background-color: $red;
        border-radius: 50px;
        font-size: 12px;
        margin: 0;
        color: $white;
        padding: 2px 10px;
        cursor: pointer;
    }

    p {
        font-size: 13px;
        color: black;
        height: 5em;
        overflow: auto;
        ::-webkit-scrollbar {
            margin-right: 2px;
            width: 10px;
        }
          
        ::-webkit-scrollbar-thumb {
            background: $darkblue;
            border-radius: 10px;
        }
          
        ::-webkit-scrollbar-thumb:hover {
            box-shadow: inset 0 0 7px $red;
        }
    }

    .card-btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: $purpel;
        font-size: 25px;
        border-radius: 50px;
        color: $white;
        align-content: center;
        cursor: pointer;
        width: 3em;
    }
  
}

