.signup{
    background-color: #30475E;
    border-radius: 10px;
    width: 50%;
}
label, h3, p, Link{
    color: #F6F6F6;
}
button{
    background-color: #91929A !important
}
button:hover{
    background-color: #EE2B47 !important;
}
#hr-form{
    background-color:#EE2B47 !important;
    width: 20%;
}